<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Required meta tags-->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="au theme template">
    <meta name="author" content="Hau Nguyen">
    <meta name="keywords" content="au theme template">
    <link rel="shortcut icon" href="/1d0822e81b4dce11ce0283c52c4d3623.ico/favicon.ico">


    <!-- Title Page-->
    <title>Dashboard</title>

    <!-- Fontfaces CSS-->
    <link href="
    /view/CoolAdmin/css/font-face.css" rel="stylesheet" media="all">
    <link href="/view/CoolAdmin/vendor/font-awesome-4.7/css/font-awesome.min.css" rel="stylesheet" media="all">
    <link href="/view/CoolAdmin/vendor/font-awesome-5/css/fontawesome-all.min.css" rel="stylesheet" media="all">
    <link href="/view/CoolAdmin/vendor/mdi-font/css/material-design-iconic-font.min.css" rel="stylesheet" media="all">

    <!-- Bootstrap CSS-->
    <link href="/view/CoolAdmin/vendor/bootstrap-4.1/bootstrap.min.css" rel="stylesheet" media="all">

    <!-- Vendor CSS-->
    <link href="/view/CoolAdmin/vendor/animsition/animsition.min.css" rel="stylesheet" media="all">
    <link href="/view/CoolAdmin/vendor/bootstrap-progressbar/bootstrap-progressbar-3.3.4.min.css" rel="stylesheet" media="all">
    <link href="/view/CoolAdmin/vendor/wow/animate.css" rel="stylesheet" media="all">
    <link href="/view/CoolAdmin/vendor/css-hamburgers/hamburgers.min.css" rel="stylesheet" media="all">
    <link href="/view/CoolAdmin/vendor/slick/slick.css" rel="stylesheet" media="all">
    <link href="/view/CoolAdmin/vendor/select2/select2.min.css" rel="stylesheet" media="all">
    <link href="/view/CoolAdmin/vendor/perfect-scrollbar/perfect-scrollbar.css" rel="stylesheet" media="all">

    <!-- Main CSS-->
    <link href="/view/CoolAdmin/css/theme.css" rel="stylesheet" media="all">
    <link href="/view/CoolAdmin/css/custom.css" rel="stylesheet" media="all">