<!-- Jquery JS-->
    <script src="/view/CoolAdmin/vendor/jquery-3.2.1.min.js"></script>
    <!-- Bootstrap JS-->
    <script src="/view/CoolAdmin/vendor/bootstrap-4.1/popper.min.js"></script>
    <script src="/view/CoolAdmin/vendor/bootstrap-4.1/bootstrap.min.js"></script>
    <!-- Vendor JS       -->
    <script src="/view/CoolAdmin/vendor/slick/slick.min.js">
    </script>
    <script src="/view/CoolAdmin/vendor/wow/wow.min.js"></script>
    <script src="/view/CoolAdmin/vendor/animsition/animsition.min.js"></script>
    <script src="/view/CoolAdmin/vendor/bootstrap-progressbar/bootstrap-progressbar.min.js">
    </script>
    <script src="/view/CoolAdmin/vendor/counter-up/jquery.waypoints.min.js"></script>
    <script src="/view/CoolAdmin/vendor/counter-up/jquery.counterup.min.js">
    </script>
    <script src="/view/CoolAdmin/vendor/circle-progress/circle-progress.min.js"></script>
    <script src="/view/CoolAdmin/vendor/perfect-scrollbar/perfect-scrollbar.js"></script>
    <script src="/view/CoolAdmin/vendor/chartjs/Chart.bundle.min.js"></script>
    <script src="/view/CoolAdmin/vendor/select2/select2.min.js">
    </script>
    <!-- Main JS-->
    <script src="/view/CoolAdmin/js/main.js"></script>
    <script src="/view/js/utils.js"></script>
    <script src="/view/CoolAdmin/js/logout.js"></script>
    <script src="/view/CoolAdmin/js/dashboard_btns.js"></script>
    <script src="/view/CoolAdmin/js/delete_btn.js"></script>
    