<div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="loginModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
       <div>Do you want to delete it?</div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-danger delete-btn" data-id="" data-type="">Delete</button>
        <button type="button" class="btn btn-primary" data-dismiss="modal">Cancel</button>
      </div>
    </div>
  </div>
</div>