<!-- Bootstrap core JavaScript -->
    <script src="/vendor/jquery/jquery.min.js"></script>
    <script src="/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

    <!-- Custom scripts for this template -->
    
    <script src="/view/js/clean-blog.min.js"></script>
    <script src="/view/js/utils.js"></script>
    <script src="/view/js/register_modal.js"></script>
    <script src="/view/js/logout_modal.js"></script>
    <script src="/view/js/login_modal.js"></script>
    <script src="/view/js/edit_accnt_modal.js"></script>
