<body style="padding:0;margin:0;list-style:none;text-decoration: none;">
  <!-- start email container -->
  <table class="email-container" style="background-repeat:no-repeat;max-width: 980px;width: 100%;margin: auto;background-image:url(https://images.template.net/wp-content/uploads/2015/04/email-backgrounds-id1940.jpg);background-size: contain;height:300px;text-align: center;font-family: Impact, Charcoal, sans-serif;">
      <tr class="blog-name">
        <td><h1 style="font-size:50px; color:black;">SJ's Blog</h1></td>
      </tr>
      <tr class="title" style="font-size:23px;height:40px;font-family:'Comic Sans MS', cursive, sans-serif;">
        <td>FIND PASSWORD SERVICE</td>
      </tr>
      <tr class="content" style="font-size:20px;height:40px;font-family:'Comic Sans MS', cursive, sans-serif;">
        <td>Click The Link Below To Get New Password!</td>
      </tr>
      <tr class='url' style="font-size:20px;height:40px;font-family:'Comic Sans MS', cursive, sans-serif;">
        <td>
          <div style="
            color:#fff;
            background-color:#007bff;
            border-color:#007bff;
            display:inline-block;
            font-weight:400;
            text-align:center;
            white-space:nowrap;
            vertical-align:middle;
            user-select:none;
            border: 1px solid transparent;
            padding: .375rem .75rem;
            font-size: 1rem;
            line-height: 1.5;
            border-radius: .25rem;
            transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
          ">
            <a style="color:#fff;text-decoration:none;" href="http://localhost:2000/controller/resetPassword.php?email={{email}}&pw_recover_cd={{pw_recover_cd}}">GET NEW PASSWORD</a>
          </div>
        </td>
      </tr>
  </table>
</body>