<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="shortcut icon" href="/1d0822e81b4dce11ce0283c52c4d3623.ico/favicon.ico">
    <link rel="stylesheet" href="/view/css/error.css">
    <title>SJ's Blog</title>
    <!-- Bootstrap core CSS -->
  </head>
  <body>
         <div id="clouds">
            <div class="cloud x1"></div>
            <div class="cloud x1_5"></div>
            <div class="cloud x2"></div>
            <div class="cloud x3"></div>
            <div class="cloud x4"></div>
            <div class="cloud x5"></div>
        </div>
        <div class='c'>
            <div class='_404'>{{errorCode}}</div>
            <hr>
            <div class='_1'>{{errorMsg}}</div>
            <a style="margin-top: 50px;" class='btn' href='/controller/home.php'>BACK To SJ's BLOG!</a>
        </div>
    </body>
</html>