{{# dashboard-item}}
    {{#.}}
    <div class='row'>
        <div class="col">{{id}}</div>
        <div class="col">{{title}}</div>
        <div class="col">{{subtitle}}</div>
        <div class="col">{{writer}}</div>
        <div class="col">{{written}}</div>
    </div>
    {{/ .}}
{{/ dashboard-item}}
<style>
.col {
    display: inline-block;
}
</style>