{{>meta}}
<body>
{{>message_boxes}}

{{>navbar}}

{{>header}}

{{! rest_password form container }}
<div class='reset-pw-form-cnt container'>
<div class="display-3">Reset Password</div>
<form id="reset-pw-form">
  <div class="form-group">
    <label for="reset-password1">New Password</label>
    <input type="password" class="form-control" id="reset-password1" placeholder="New password">
  </div>
  <div class="form-group">
    <label for="reset-password2">Confirm New Password</label>
    <input type="password" class="form-control" id="reset-password2" placeholder="Confirm you password">
  </div>  
</form>
<div class="btn-group">
    <button class="btn btn-primary reset-pw-submit">Submit</button>
    <button class="btn btn-primary reset-pw-cancel">Cancel</button>
</div>
</div>

{{>login_modal}}
{{>register_modal}}
{{>logout_modal}}
{{>edit_account_modal}}
<hr>
{{>scripts}}
<script src="/view/js/reset_password.js"></script>
    </body>
</html>